<%- include('commonEjs/head') %>
  <body>
    <%- include('commonEjs/header') %>
    <h1><%= title %></h1>
    <p><a href="/users">users</a>Welcome to <%= title%><a href="/test">test</a></p>
    <%- include('commonEjs/footer') %>
    <%- include('commonEjs/foot') %>
  </body>
</html>
